#headerdiv {
    margin-bottom: 94px;

}

#navimg {
    display: inline-block;
    vertical-align: middle;
    max-width: 35%;
    width: 100%;
}

#menudiv {
    display: inline-block;
    max-width: 28%;
    font-size: 18px;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

#Pricing {
    display: inline-block;
}

#FAQ {
    display: inline-block;
    margin-left: 20px;
}

#Our-reviews {
    display: inline-block;
    margin-left: 20px;
}

#buttonDiv {
    display: inline-block;
    width: 100%;
    max-width: 35%;
    text-align: end;
}

#button {
    display: inline-block;
    border-radius: 8px;
    border: 1px #6941C6 solid;
    padding: 8px 16px;
    color: white;
    background-color: #6941C6;
}

#maindiv {
    max-width: 1440px;
    padding: 96px;
    align-items: center;
    background: #F1E8FF;
    margin: 0 auto;

}

#cardsdiv {
    max-width: 1248px;
    align-items: center;
    padding: 0 32px;
    margin: 0 auto;
}

#cardshead {
    width: 768px;
    margin: 0 auto;
}

#cardshead h1 {
    text-align: center;
}

#simple {
    text-align-last: center;
    display: inline-block;
    width: 100%;
    font-size: 24px;
    max-width: 768px;
    margin-top: 20px;
}

#cardsthreediv {
    max-width: 1184px;
    display: inline-block;

    margin-top: 32px;
}

#cardsone {
    border-radius: var(--radius-2xl, 16px);
    border: 1px solid #E9EAEB;
    background: #FFF;
    display: inline-block;

}

#cardslittle {
    padding: 40px;
}

#Basicbtn,
#Business,
#Enterprise {
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #E9D7FE;
    background: #F9F5FF;
    color: #6941C6;
    text-align: center;
    font-size: 14px;

}

#tendlr,
#tdlr,
#fdlr {
    color: #181D27;
    text-align: center;
    font-size: 48px;
    margin-top: 20px;

}

#popular,
#Growing,
#Advanced {
    color: #535862;
    text-align: center;
    margin-top: 8px;
    font-size: 16px;

}

#btn {
    text-align: center;
}

#started {
    width: 273px;
    padding: var(--spacing-lg, 12px) 18px;
    align-items: center;
    border-radius: var(--radius-md, 8px);
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: #7F56D9;
    margin-top: 16px;

}

#sales {
    padding: var(--spacing-lg, 12px) 18px;
    align-items: center;
    border-radius: var(--radius-md, 8px);
    border: 1px solid #D5D7DA;
    background: #FFF;
    margin-top: 16px;
    width: 273px;
}




#checkone {
    display: inline-block;
    vertical-align: middle;
}

#textone,
#texttwo,
#textthree,
#textfour,
#textfive,
#lastone,
#lasttwo,
#lastthree,
#lastfour,
#lastfive {
    display: inline-block;
    vertical-align: middle;
}

#liststwo,
#liststhree,
#listsfour,
#listsfive,
#listsone {
    margin: 16px;
    margin-left: 32px;
}

#cardsfourdiv {
    max-width: 1184px;
    display: inline-block;
    height: 589px;
    margin-top: 32px;
    margin-left: 32px;
}

#textdivone,
#textdivtwo,
#textdivthree,
#textdivfour,
#textdivfive {
    display: inline-block;
    vertical-align: middle;

}

#checklastone,
#checktwo,
#checkthree,
#checkfour,
#checkfive {
    margin: 16px;
    margin-left: 32px;
}

#middlediv {
    max-width: 1248px;
    margin-top: 64px;
    padding: 32px 0px;
    align-items: center;
    border-radius: 24px;
    background: #FFF;
}

#middleheading,
#midleheadinglast {
    width: 768px;
    margin: 0 auto;
}

#middleh,
#reviews {
    color: #181D27;
    text-align: center;
    font-size: 40px;
}

#middlep,
#middleplast {
    color: #535862;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;

}

#midlcontainer {
    width: 768px;
    margin-top: 32px;
    margin: 0 auto;
    border-radius: var(--spacing-xl, 16px);
    background: #E4E4E4;

}

#middletextcontainer {
    width: 704px;
    margin: 0 auto;
    padding: 32px;

}

#wrap {
    display: inline-block;
    vertical-align: middle;
}

#trial,
#can,
#policy,
#offer,
#billing,
#change {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
}

#possible,
#change,
#our,
#yes,
#additional,
#account {
    color: #535862;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 35px;
}

#midlcontainertwo {
    border-radius: 16px;
    border: 2px solid #FF2323;
    background: #FFE5E5;
    margin: 0 auto;
    width: 768px;
    margin-top: 16px;
}

#midlecontainerthree {
    width: 768px;
    margin: 0 auto;
    border-radius: 16px;
    background: #E9D7FF;
    margin-top: 16px;

}

#midlecontainerfour {
    width: 768px;
    border-radius: 16px;
    background: #F7F4FF;
    margin: 0 auto;
    margin-top: 16px;
}

#midlecontainerfive {
    width: 768px;
    border-radius: 16px;
    border: 4px solid #326DFF;
    background: #DCE6FF;
    margin: 0 auto;
    margin-top: 16px;
}

#midlecontainerseven {
    width: 768px;
    border-radius: 16px;
    background: #FFD5E7;
    margin: 0 auto;
    margin-top: 16px;

}

#lastdiv {
    max-width: 1248px;
    padding: 32px 0px;
    border-radius: 24px;
    background: #FFF;
    height: 700px;
    margin-top: 64px;

}

#boxone {
    max-width: 1184px;
    padding: 32px;
}

#boxcontainerone {
    width: 580px;
    display: inline-block;
    border-radius: var(--radius-xl, 12px);
    border: 1px solid #E9EAEB;
    background: #FFF;
    text-align: start;
    padding: 0 32px;

}

#boxpone {
        width: 516px;
 
}

#avatarone {
    margin-top: 80px;
}

#lastimgdiv {
    max-width: 516px;
}